section.contacts-section
    .container
        .contacts-section-wrapper
            .contacts-section__form-wrapper
                form.contacts-section__form
                    fieldset.contacts-section__form-fielset
                        input.contacts-section__form-input.input-block(type="text" name="name" id="name" placeholder="Name*" autocomplete="off" required)
                        input.contacts-section__form-input.input-block(type="text" name="subject" id="subject" placeholder="Subject*" autocomplete="off" required)
                        input.contacts-section__form-input.input-block(type="email" name="email" id="email" placeholder="Email*" autocomplete="off" required)
                        textarea.contacts-section__form-textarea.textarea-block(name="textarea" id="textarea" placeholder="Message*")
                    button.contacts-section__form-submit-btn.btn(type="submit" name="submit" id="submit") Send message
            .contacts-section__info
                .contacts-section__info-text
                    span.info-text__item Adress line 1
                    br
                    span.info-text__item Adress line 2
                    br
                    span.info-text__item Phone: +37529XXXXXXX
                    br
                    span.info-text__item Fax: +37529XXXXXXX
                    br
                    br
                    span.info-text__item Web: https://mrchester.github.io/projects/shopno/
                    br
                    span.info-text__item E-mail: yauheni.ramankou@gmail.com
                .contacts-section__info-map(id="YMapsID")
    .contacts-section__overlay