include ../../libs/_libs

section.promo-section
    header.promo-section__header
        .container
            .header__logo
                +image('main-logo', 'logo__img')
            h1.header__title
                span.header-title__text
                    | say hello to
                    span.header-title__text--colored
                        |shopno!
                br
                span.header-title__text
                    span.header-title__text--colored
                        | agency
                    | corporate shopno team
            .promo-section__button-wrapper
                button.promo-section__button#submit(name="submit" type="submit")
                    | contact us
            .promo-section__image-wrapper
                .promo-section__image
                    +image('glass', 'image__glass')