section.section-team
    .container
        h2.section-team__title.uppercase.
            small team
        h2.section-team__subtitle.uppercase.
            Lorem ipsum dolor sit amet event landing template
        .section-team__gallery
            figure.team-gallery__item.team-gallery__item_1_1
                a.team-gallery__link_1_1
                    img.team-gallery__img_1_1(src="#" alt="team-gallery__img_1_1.png")
            figure.team-gallery__item.team-gallery__item_1_2
                a.team-gallery__link_1_2
                    img.team-gallery__img_1_2(src="#" alt="team-gallery__img_1_2.png")
            figure.team-gallery__item.team-gallery__item_1_3
                a.team-gallery__link_1_3
                    img.team-gallery__img_1_3(src="#" alt="team-gallery__img_1_3.png")
            figure.team-gallery__item.team-gallery__item_2_1
                a.team-gallery__link_2_1
                    img.team-gallery__img_2_1(src="#" alt="team-gallery__img_2_1.png")
            figure.team-gallery__item.team-gallery__item_2_2
                a.team-gallery__link_2_2
                    img.team-gallery__img_2_2(src="#" alt="team-gallery__img_2_2.png")
            figure.team-gallery__item.team-gallery__item_2_3
                a.team-gallery__link_2_3
                    img.team-gallery__img_2_3(src="#" alt="team-gallery__img_2_3.png")
            