ul.socials__list
        li.socials__item
            a.socials__link
                svg.socials__icon--pinterest
                    use(xlink:href="#pinterest")
        li.socials__item
            a.socials__link
                svg.socials__icon--twitter
                    use(xlink:href="#twitter")
        li.socials__item
            a.socials__link
                svg.socials__icon--facebook
                    use(xlink:href="#facebook")
        li.socials__item
            a.socials__link
                svg.socials__icon--dribble
                    use(xlink:href="#dribble")