section.section-about
    .container
        h2.section-about__title.uppercase about us
        h3.section-about__subtitle.uppercase lorem ipsum dolor sit amet event landing template
        .about__content
            .content-img
                img(src="#")
            .content-info
                .content-info__title.uppercase.
                    We Actually Do amazing works
                .content-info__text.
                    A visual approach is an approach to a runway at an airport conducted under instrument flight rules. The pilot must at all times have either the airport or the preceding aircraft in approach correct sight. conducted under instrument flight rules. The pilot must at all times.

                    Preceding aircraft in approach correct sight. conducted under instrument flight rules.
                .content-info__subtitle.uppercase.
                    why we are the great?
                .content-info__text.
                    A visual approach is an approach to a runway at an airport conducted under instrument flight rules.
                    The preceding aircraft in approach correct sight.
