@use 'scss/fonts/_fonts.scss';
@use 'scss/_promotion.scss';
@use 'scss/_about.scss';
@use 'scss/_works.scss';
@use 'scss/_team.scss';
@use 'scss/_contacts.scss';
@use 'scss/_socials.scss';
@use 'scss/_footer.scss';
@use 'scss/_responsive';

*,
*::before,
*::after{
    box-sizing: border-box;
    user-select: none;
}

body{
    overflow-x: hidden;
}

a:active,
a:hover,
a {
  text-decoration: none;
//   color: #666;
}

button{
    padding: 0;
}

.uppercase{
    text-transform: uppercase;
}