doctype html
html(lang="en")
    include pug/_head
    body
        include pug/components/promotion/promotion.pug
        include pug/components/about/about.pug
        include pug/components/works/works.pug
        include pug/components/team/team.pug
        include pug/components/footer/footer.pug
        include pug/components/svg-sprite/svg-sprite.pug