doctype html
html(lang="en")
    include pug/_head
    body
        include pug/components/promotion/promotion.pug
        include pug/components/about/about.pug
        include pug/components/works/works.pug
        include pug/components/team/team.pug
        include pug/components/contacts/contacts.pug
        include pug/components/footer/footer.pug
        include pug/components/svg-sprite/svg-sprite.pug
        script(src="https://api-maps.yandex.ru/2.1/?apikey=a0d5bfb4-593b-4bda-b278-16b3cdf7721a&lang=ru_RU")
