@media only screen and (max-width: 768px) {
    .section-works {
        padding: 109px 0 105px 0;

        &__subtitle {
            margin-bottom: 102px;
        }
    }

    .works-gallery {
        &__item {
            max-width: 49%;
            min-width: 49%;
        }
    }
}

@media only screen and (max-width: 540px) {
    .section-works {
        padding: 89px 0 85px 0;

        &__title{
            line-height: 42px;
        }

        &__subtitle {
            margin-bottom: 82px;
        }
    }

    .works-gallery {
        &__item {
            max-width: 100%;
            min-width: 100%;
        }
    }
}