.socials__list{
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    max-width: 205px;
}

.socials__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 40px;
    opacity: 0.4;
    background-color: #8a8a8a;
}

.socials__link:hover{
    background-color: #6eeee4;
    opacity: 1;
    cursor: pointer;
    .socials__icon{
        fill: #000000;
    }
}

.socials__icon--pinterest,
.socials__icon--twitter,
.socials__icon--dribble,
.socials__icon--facebook{
    fill: #faf4f4;
}

.socials__icon--pinterest{
    width: 17px;
    height: 22px;
}

.socials__icon--twitter{
    width: 21px;
    height: 18px;
}

.socials__icon--dribble{
    width: 21px;
    height: 21px;
}

.socials__icon--facebook{
    width: 12px;
    height: 22px;
}