.section-works {
    position: relative;
    padding: 129px 0 125px 0;
    background-color: #ffffff;
    text-align: center;

    &__title {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 39px;
        font-weight: 700;
    }

    &__subtitle {
        font-family: 'Merriweather', Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 122px;
    }

    &__title,
    &__subtitle{
        line-height: 28px;
    }
}

.section-works__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works-gallery{
    &__item{
        max-width: 32.5%;
        min-width: 32.5%;
        margin-bottom: 0.66vw;
        cursor: pointer;
    }

    &__img{
        width: 100%;
    }
}